/* -------- */
/* Elementi */
/* -------- */

body { 
    font: 13px/140% Arial, sans-serif; 
    background: black; 
    color: white; 
    /*overflow: hidden; */
}

a {
    color: inherit;
    cursor: pointer; 
}

img { 
    display: none; 
}

ul { 
    padding: 0 0 0 20px; 
}

h1 { 
    font: bold italic 30px/30px Helvetica, sans-serif;
    text-align: center;
}

h2 { 
    font: bold italic 17px/17px Helvetica, sans-serif;
    padding-top: 10px; 
}

h3 { 
    font: bold italic 15px/15px Helvetica, sans-serif;
    padding-top: 10px; 
}

small {
    display: block; 
    font-size: 11px; 
    line-height: 15px; 
}

/*
canvas { 
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%; ---- Aggiunto
    height: 76vh;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.30), 0 1px 1px rgba(255, 255, 255, 0.4);
    transition: 0.2s;
    border: 2px solid white;
    border-radius: 9px;
}
*/

canvas {
    z-index: 1;
    width: 78%; 
    height: 70vh;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.30), 0 1px 1px rgba(255, 255, 255, 0.4);
    transition: 0.2s;
    border: 2px solid white;
    border-radius: 10px;
}



/* ------------ */
/* Impostazioni */
/* ------------ */

#right-panel {    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    padding-right: 20px;
    padding: 10px;
    max-width: 19%;
    transition: 0.2s;
    text-align: center; 
}


#loading { 
    position: absolute;
    left: 0;
    top: 50%;
    right: 300px;
    text-align: center;
    margin-top: -8px; 
}


#bottom-container {
    display: flex;                  /* Utilizza Flexbox per organizzare i contenuti in linea orizzontale */
    justify-content: space-around;  /* Distribuisce lo spazio rimanente intorno agli elementi */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 30%;
    padding: 10px;
}


#lights, #graphics, #commands, #camera {
    width: 30%;  /* Imposta una larghezza adeguata per i div */
    padding: 10px;
    margin: 10px;
    
    /* box-sizing: border-box; */  /* Include padding e border nella larghezza e altezza totali */
    /* background-color: #222; */  /* Colore di sfondo per distinguere i div */
    /* border: 1px solid #444; */  /* Bordo per distinguere i div */
}


/* ---------------- */
/* Elementi grafici */
/* ---------------- */


/* Bottoni */


.button {
    font: bold 15px/15px Helvetica, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
  
.button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}


/* Slider */

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px; /* Aggiungi questa linea per i bordi smussati */
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: black;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: black;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 50%;
}


/* ColorPicker */


.color-picker {
    -webkit-appearance: none;
    appearance: none;
    width: 36px;
    height: 36px;
    border: 3px solid white;
    /*background-color: black;*/
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.color-picker::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}


/* Checkbox */


.checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
}

.checkbox:checked {
    background-color: white;
}

.checkbox:checked::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


/* Bottoni per il movimento */
#command-buttons {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    gap: 14px;
    margin: 0 auto;  /* Centra i comandi nel loro contenitore */
    width: fit-content; /* Restringi la larghezza al contenuto */
}


.arrow-button {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button:hover {
    background-color: white;
    color: black;
}

#up-button {
    grid-column: 2;
    grid-row: 1;
}

#left-button {
    grid-column: 1;
    grid-row: 2;
}

#center-button {
    grid-column: 2;
    grid-row: 2;
}

#right-button {
    grid-column: 3;
    grid-row: 2;
}

#down-button {
    grid-column: 2;
    grid-row: 3;
}


/* ------------------- */
/* Dispositivi Mobili */
/* ------------------*/


@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
    }

    canvas {
        width: 100%;
        height: auto;
        margin-bottom: 20px;  /* Aggiunge spazio sotto il canvas per il right-panel e bottom-container */
    }

    #right-panel {
        position: relative;  
        width: 100%;
        max-width: 100%;
        top: auto;  
        right: auto;  
        bottom: auto;  
        padding: 10px;
        margin-top: 10px;  
        background: black;  
        text-align: center; 
    }

    #bottom-container {
        position: relative;  
        width: 100%;  
        flex-direction: column;  
        padding: 10px;
        background: black;  
        margin-top: 10px;  
        box-shadow: none;  
        align-items: center; 
    }

    #lights, #graphics, #commands, #camera {
        width: 100%;  
        margin: 5px 0;  
        text-align: center; 
    }

    #command-buttons {
        margin: 0 auto;  /* Centra i comandi nel loro contenitore */
        margin-bottom: 20px; /* Aggiungi spazio sotto i comandi */
        width: fit-content; /* Aggiungi questa riga per restringere la larghezza al contenuto */
    }

    .button {
        margin: auto; 
    }

    .slider, .color-picker, .checkbox {
        margin: auto; 
    }
}